.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'chart date'
    'chart title';
  padding: var(--alignmentL);
}
.container .chart {
  grid-area: chart;
}
.container .date {
  grid-area: date;
  color: var(--darkBlue);
  font-weight: bold;
  font-size: 14px;
}
.container .title {
  grid-area: title;
  font-size: 18px;
}
